<h1>Pictures#index</h1>
<p>Find me in app/views/pictures/index.html.erb</p>
<h1> Gallery</h1>

<div id="pictures">
	<%= render @pictures %>
</div>
<div class="clear"></div>

<%= form_for Picture.new do |f| %>
	<%= f.label :image, "Upload Picture" %>
	<%= f.file_field :image, multiple: true, name: "picture[image]" %>
<% end %>

<p><%= link_to "Add a Picture", new_picture_path %></p>
