<h1>Pictures#index</h1>
<p>Find me in app/views/pictures/index.html.erb</p>
<h1> Gallery</h1>

<div id="paintings">
<% @pictures.each do |picture| %>
  <div class="painting">
    <%= link_to image_tag(picture.image_url()), picture if picture.image? %>
   
    <div class="actions">
      <%= link_to "edit", edit_picture_path(picture) %> |
      <%= link_to "remove", picture, :confirm => 'Are you sure?', :method => :delete %>
    </div>
  </div>
  <% end %>
</div>
<div class="clear"></div>

<%= form_for Picture.new do |f| %>
	<%= f.label :image, "Upload Picture" %>
	<%= f.file_field :image, multiple: true, name: "picture[image]" %>
<% end %>

<p><%= link_to "Add a Picture", new_picture_path %></p>
